<h2> <%=h @author.getName %> </h2>

<p>
  <b>Firstname:</b>
  <%=h @author.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @author.lastname %>
</p>

<p>
  <b>Publisher:</b>
  <%=h @author.publisher %>
</p>

<p>
    <b>Books:</b>
    <ul>
      <% @author.books.sort.each do |book| -%>
        <li> <%= link_to book.id.to_s + " " + book.title, book %> (<%= book.getLocation %>) </li>
      <% end -%>
    </ul>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
