<% form_for(@book) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </p>
  <p>
    <%= f.label :language_id %><br />
    <%= text_field_with_auto_complete :language, :name, {
      :value => @book.language.present? ? @book.language.toFormName : "",
      :placeholder => "Language" } -%>
  </p>
  <p>
    <%= f.label :owner_id %><br />
    <%= text_field_with_auto_complete :owner, :name, {
      :value => @book.owner.present? ? @book.owner.toFormName : "",
      :placeholder => "Owner" } -%>
  </p>
  <p>
    <%= f.label :book_type_id %><br />
    <%= text_field_with_auto_complete :book_type, :name, {
      :value => @book.book_type.present? ? @book.book_type.toFormName : "",
      :placeholder => "Book Type" } -%>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= text_field_with_auto_complete :location, :name, {
      :value => @book.location.present? ? @book.location.toFormName : "",
      :placeholder => "Location", :size => 50} -%>
  </p>

  <p>
    Authors: <br />
    <ul>
      <% @book.authors.each_with_index do |author, index| %>
        <li id="book_author_<%= author.id  %>">
        <%= hidden_field :authors, :id, {:index => index, :value => author.id } %>

        <%= author.getName %>
          <span class="author_delete">
            <%= link_to_remote( "Delete author",
               :url => { :action => 'remove_author', :author_id => author.id, 
                 :book_id => @book.id }, :html => { :id => "destroyButton_25",
                 :class => "destroyButtonPicRecipeForm"}, :confirm => "Really delete?" ) %>
          </span>
        </li>
      <% end -%>
    <li> <%= text_field_with_auto_complete :author, :name -%> Add author </li>
    <li> <%= link_to 'New author', new_author_path %> </li>
    </ul>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
