<h1>Listing books</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Nr.</th>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Comment</th>
    <th>Language</th>
    <th>Owner</th>
    <th>Book type</th>
    <th>Room</th>
    <th>Shelf</th>
    <th>Regal</th>
    <th>Height</th>
  </tr>

<% @books.each do |book| %>
  <% @author = book.authors.first -%>
  <tr>
    <td><%= link_to(@author.getName, @author) if @author.present? %></td>
    <td><%= book.authors.size  %> </td>
    <td><%=h book.title %></td>
    <td><%=h book.subtitle %></td>
    <td><%=h book.comment %></td> 
    <td><%=h book.language.name if book.language %></td>
    <td><%=h book.owner.name if book.owner %></td>
    <td><%=h book.book_type.name if book.book_type %></td>
    <td><%=h book.location.room if book.location %></td>
    <td><%=h book.location.shelf if book.location %></td>
    <td><%=h book.column_nr if book.location %></td>
    <td><%=h book.row_nr if book.location %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New book', new_book_path %>
