<h1>Listing books</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Comment</th>
    <th>Language</th>
    <th>Owner</th>
    <th>Book type</th>
    <th>Room</th>
    <th>Shelf</th>
    <th>Regal</th>
    <th>Height</th>
  </tr>

<% @books.each do |book| %>
  <% @author = book.authors.first -%>
  <tr <%= 'style="color:#880000;"' if book.former_book %> >
    <td>
      <% book.authors.each do |author| -%>
        <%= link_to(author.getName, author) %>
      <% end -%>
      <%= "(" + book.authors.size.to_s + ")" if book.authors.size > 1 %> 
    </td>
    <td><%=h book.title %></td>
    <td><%=h book.subtitle %></td>
    <td><%=h book.comment %> <%= "Former book" if book.former_book %></td> 
    <td><%=h book.language.name if book.language %></td>
    <td><%=h book.owner.name if book.owner %></td>
    <td><%=h book.book_types.map{ |t| t.name }.join(", ") %></td>
    <td><%=h book.location.room if book.location %></td>
    <td><%=h book.location.shelf if book.location %></td>
    <td><%=h book.column_nr if book.location %></td>
    <td><%=h book.row_nr if book.location %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate :prev_label => "<< Previous Page", :next_label => "Next Page >>" %>

<br />

<%= link_to 'New book', new_book_path %>
