
<h2> <%=h @book.title %> </h2>

<% if @book.former_book -%>
  <span style="color:#880000;">
    This book is not here any more!
  </span>
<% end -%>

<p>
  <b>Subtitle:</b>
  <%=h @book.subtitle %>
</p>

<p>
  <% if @book.authors.size == 1-%>
    <b>Author:</b> <%= link_to @book.authors.first.getName, @book.authors.first %> 
  <% else -%>
    <b>Authors:</b>
      <ul>
        <% @book.authors.each do |author| -%>
          <li> <%= link_to author.getName, author %> </li>
        <% end -%>
      </ul>
  <% end -%>
</p>

<p>
  <b>Comment:</b>
  <%=h @book.comment %>
</p>

<p>
  <b>Language:</b>
  <%=link_to @book.language.name, @book.language if @book.language %>
</p>

<p>
  <b>Owner:</b>
  <%=link_to @book.owner.name, @book.owner if @book.owner %>
</p>

<p>
  <b>Book type:</b>
  <%=link_to @book.book_type.name, @book.book_type if @book.book_type %>
</p>

<p>
  <b>Location:</b>
  <%=link_to @book.getLocation, @book.location %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
