
<h2> Welcome to book storage </h2>

<p> Welcome to the book database of Hannes and Martina.  </p>

<p> Currently, <%= Book.count %> books are in the database.  </p>

<% form_tag url_for(:controller => 'books', :action => 'search'), :method => 'get' do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end -%>

<ul>
  <li> <%= link_to 'All Books', books_path %> </li>
  <li> <%= link_to 'New Book', new_book_path %> </li>
</ul>

Other links:
<ul>
  <li> <%= link_to 'All Authors', authors_path %> </li>
  <li> <%= link_to 'All Locations', locations_path %> </li>
  <li> <%= link_to 'All Owners', owners_path %> </li>
  <li> <%= link_to 'All Types', book_types_path %> </li>
  <li> <%= link_to 'All Languages', languages_path %> </li>
</ul>

