<h1>New location</h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :apartment %><br />
    <%= f.text_field :apartment %>
  </p>
  <p>
    <%= f.label :room %><br />
    <%= f.text_field :room %>
  </p>
  <p>
    <%= f.label :shelf %><br />
    <%= f.text_field :shelf %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', locations_path %>
