<p>
  <b>Apartment:</b>
  <%=h @location.apartment %>
</p>

<p>
  <b>Room:</b>
  <%=h @location.room %>
</p>

<p>
  <b>Shelf:</b>
  <%=h @location.shelf %>
</p>

<p>
  <b>Comment:</b>
  <%=h @location.comment %>
</p>

<p>
    <b>Books:</b>
    <ul>
      <% @location.books.sort.each do |book| -%>
        <li> <%= link_to book.getTitle, book %> (<%= book.location.getLocation if book.location %>) </li>
      <% end -%>
    </ul>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %> |
<%= link_to 'Destroy', @location, :confirm => 'Are you sure?', :method => :delete %>
